* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.container {
    background-color: #fff;
    padding: 40px;
   
    max-width: 600px;
    width: 100%; 
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.email-container {
    margin-bottom: 30px;
}

.email-input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
}

.subscribe-button {
    padding: 10px 20px;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe-button:hover {
    background-color: blueviolet;
}

.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.time-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.time {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }
 .container {
        margin-bottom: 30px;
    }
}
.image-container {
    display: flex;
    justify-content: flex-end; 
    width: 50%; 
    background-color: #f4f4f4;
    height: 450px;
}

.right-align-image {
    width: 100%;
   
    border-radius: 8px;
    margin-left: 5px;
}