body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.dropdown-links {
    display: none;
    list-style: disc;
    padding-left: 20px;
    margin-top: 5px;
    }
    
    .auth-links {
        display: block;
    }
    .auth-links a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 14px;
    }
    
    .auth-links a:hover {
    background: #5d6d7e;
    border-radius: 4px;
    }

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100px;
    text-align: center;
}
.container h2 {
    margin-bottom: 10px;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group label {
    display: block;
    font-weight: bold;
}
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.input-group .toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn {
    width: 100%;
    padding: 10px;
    background: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    background: blueviolet;
    
}
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.social-buttons button {
    background: #ccc;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.social-buttons button:hover {
    background: blueviolet;
}